@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Merriweather", serif; */


/* 2nd design er jonno ei font  */
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Share style  */

.underline {
    text-decoration: underline;
    text-decoration-color: rgb(231, 0, 0);
    text-decoration-thickness: 8px;
    text-decoration-style: dotted;
    /* আন্ডারলাইনের পুরুত্ব */
    text-underline-offset: 16px;
    /* আন্ডারলাইন টেক্সট থেকে কতটা নিচে থাকবে */
}

.emni {
    text-decoration: underline;
    text-decoration-color: rgb(255, 0, 0);
    text-decoration-thickness: 8px;
    text-decoration-style: wavy;
    /* আন্ডারলাইনের পুরুত্ব */
    text-underline-offset: 12px;
    /* আন্ডারলাইন টেক্সট থেকে কতটা নিচে থাকবে */
}

hr {
    border: none;
    height: 4px;
    background: linear-gradient(to right, red, yellow, green);
}


* {
    margin: 0;
    padding: 0;
}

/* এখানে বক্স -১ এর কাজ করা হয়েছে */
.backround-image {
    background-image: linear-gradient(180.00deg, rgba(9.197244644165039, 8.92899227142334, 8.92899227142334, 1), rgba(16, 16, 16, 0) 100%), url(images/Banner\ Image.png);
    height: 900px;
    width: 1120;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin: 50px 140px 120px; */
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.container {
    color: rgba(255, 255, 255, 1);
    padding: 177px 344px;
    line-height: 95px;
    font-family: "Merriweather", serif;

}

.title {
    font-size: 42px;
    margin-bottom: 16px;
}

.sub-title {
    font-size: 82px;
    width: 632px;
}



/* এখান থেকে ২য় বক্স এর ডিজাইন করা হয়েছে */

.mini-box {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.title-2 {
    margin-top: 120px;
    color: rgba(255, 0, 0, 1);
    font-size: 88px;
    margin-bottom: 48px;
}

.item-2 {
    color: rgba(255, 0, 0, 1);
    font-size: 24px;

}

.item-3 {
    color: rgba(7, 2, 17, 1);
    font-size: 48px;

}

/* এখান থেকে বক্স-3 এর কাজ করা হয়েছে */

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Merriweather", serif;
}

/* body {
    background-color: #000;
} */

.banner {
    background-image: linear-gradient(80.00deg, rgba(9.197244644165039, 8.92899227142334, 8.92899227142334, 1), rgba(16, 16, 16, 0) 100%), url(images/Vectorrr.png);
    height: 900px;
    width: 1120;
    background-repeat: no-repeat;
    background-size: cover;
    /* cover নয় */
    background-position: center;
    /* margin: 50px 140px 120px; */
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: center;
    font-family: "Merriweather", serif;
    margin-top: 120px;


}

.abba {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 580px;
    padding: 20px;
    margin-left: 126px;
}

.title {
    color: rgba(255, 255, 255, 1);
    font-weight: 642px;
    line-height: 58px;
    font-size: 64px;
}

.subtitle {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 697px;
    line-height: 30px;
    font-size: 19px;
    padding-right: 30px;
}

.year-image {
    background-position: right;
}

.abba .join-btn {
    display: inline-block;
    background: #fff;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: 2s;
}

.join-btn:hover {
    background: #f4b400;
}

/* এখান থেকে ৪র্থ বক্স এর কাজ করা হয়েছে  */

.box-3 {
    height: 482px;
    width: 1320px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin: 30px auto;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.863); */
    background: linear-gradient(to bottom, rgba(255, 127, 127, 0.404), rgba(255, 0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.paragraph {
    color: rgba(7, 2, 17, 1);
    margin-top: 150px;
    font-size: 32px;
}

.three-friend-1 {
    color: rgba(7, 2, 17, 1);
}

.btn button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: 2s;
}

.ektu {
    font-size: 38px;
}

.btn button:hover {
    background-color: darkred;
}

/* এখান থেকে বক্স-৫ এর কাজ করা হয়েছে  */

.abba-of-5 {
    width: 1320px;
    height: 463px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 120px 140px;
    gap: 260px;
    margin-left: 286px;
    font-family: "Merriweather", serif;
}

.text {
    width: 1000px;
    text-align: start;
    /* margin-left: 145px;  */
    /* margin-right: 45px;  */

}

h4 {
    color: rgba(255, 0, 0, 1);
    font-size: 24px;
    font-family: "Inter", sans-serif;
}

h1 {
    color: rgba(7, 2, 17, 1);
    font-size: 48px;
}

.public{
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

.center-image {}

.text-2 {

    text-align: start;


}

h2 {
    color: rgba(255, 0, 0, 1);
    font-size: 48px;
}

.paragraph-2 {}

.mini-image {
    margin-top: 50px;
}

/* এখান থেকে বক্স-6 এর কাজ করা হয়েছে */

.what {
    font-family: "Inter", sans-serif;
    color: rgba(7, 2, 17, 1);
    font-size: 24px;
}

.holidays {
    font-size: 72px;
    font-family: "Merriweather", serif;
}

.holidays .nnii {
    color: rgba(7, 2, 17, 1);
}

.choto-bap {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 1068px;
    height: 260px;
    background-position: center;
    margin-left: 456px;
    margin-bottom: 64px;
}

/* এখান থেকে বক্স-7 এর কাজ করা হয়েছে */

.ima {
    background-image: url(images/Rectangle\ 2.png);
    background-position: bottom;
    width: 1320px;
    height: 662px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 300px;
}

.choto-image {
    margin-bottom: 160px;
}

/* এখান থেকে বক্স-8 এর কাজ করা হয়েছে */

.best {
    margin-bottom: 16px;
}

.our {
    margin-bottom: 22px;
}

.abba-for-6pic {
    margin: 120px 140px;
}

.pic-6 {
    display: flex;
    gap: 24px;
    justify-content: start;
    width: 1320px;
    height: 940px;

    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.abba-for-6pic {
    margin-left: 300px;
}

/* এখান থেকে বক্স-9 এর কাজ করা হয়েছে */

.box-8 {
    width: 1320px;
    height: 646px;
    background-color: rgba(255, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 7px;
    background-position: center;
    margin-left: 300px;
    margin-bottom: 120px;
}

.subscribe-box {
    display: flex;
    width: 300px;
    /* চাইলে পরিবর্তন করতে পারো */
    margin-left: 300px;
}


/* নিচের ডিজাইন্টা copilot use করে আর নিএ একটু modify করে*/


.subscribe-box input[type="email"] {
    /* flex: 1; */
    padding: 10px;
    border: 1px solid #ccc;
    border-right: none;
    /* বাটনের সাথে সুন্দরভাবে লাগানোর জন্য */
    outline: none;
    border-radius: 15px 0px 0px 15px;
}

.subscribe-box button {
    padding: 10px 20px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0px 15px 15px 0px;
}

.subscribe-box button:hover {
    background-color: darkred;
    /* hover effect */
    transition: 1s;
}

/* লাস্ট বক্স ডিজাইন */

.last-box{
    /* width: 1600px; */
    height: 609px;
    background-color: rgba(7, 2, 17, 1);
    background-size: cover;
    color: rgba(255, 255, 255, 1);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    
}
.identy{
    display: flex;
    gap: 800px;
    padding: 120px 140px;
    padding-left: 310px;
}
.number{
    text-decoration: underline;
    cursor: pointer;
    text-align: end;
    padding-right: 150px;
}
.icon{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 98px;
}

.last-paragraph{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 880px;
    text-decoration:underline;
    text-decoration-color: #f4b400;
}